body{background-color: #f0f0f0;font-family: "Microsoft Yahei" !important;}
.c3{color: #333;}
.c6{color: #666;}
.c9{color: #999;}
.f24{font-size: 24px;}
.module {width: 1200px;margin: 0 auto;}
.inline{display: inline-block;*zoom:1;*display: inline;}
.visible{overflow: visible !important;}
/*新pc收银台—旅游网*/
    /*登陆信息*/
.top_box{height: 30px;line-height: 30px;font-size: 14px;border-bottom: 1px solid #e2e2e2;background: #fff;}
.top_box .user_login li{float: left;color: #CCC;}
.top_box .user_login li span,.top_box .user_login li a{color: #666;margin: 0 20px;}
.top_box .user_login li a:hover{color: #f80;}
    /*logo*/
.logo_box{padding: 20px 0;}
.logo_box .logo{height: 48px;width: 120px;background: url(https://ssl.tuniucdn.com/img/20160304/jinrong/licai2/checkout/tnlogo.png) no-repeat center left;border-right: 1px solid #FFF;}
.logo_box h3{height: 48px;border-left: 1px solid #d1d1d1;line-height: 48px;font-size: 24px;color: #666;padding-left: 20px;}
    /*主体*/
.pay_box{background-color: #f0f0f0;}
.order_box{background:#fff;padding: 20px;}
.cont_box{background:#fff;margin-bottom:10px;padding: 30px 20px 30px 40px;position: relative;}
.cont_box.z10{*z-index: 10;}
.z11{z-index: 11 !important;}
.cont_box.z12{*z-index: 12;}
.z13{z-index: 13 !important;}
.cont_box.z14{*z-index: 14;}
.cont_box.limitH{height: 24px;}
.mask_box{-webkit-transition:opacity .5s ease;-moz-transition:opacity .5s ease;-ms-transition:opacity 1s ease;transition:opacity .5s ease;}
.opacity{filter:alpha(opacity=55);opacity:0.55;}
.choose_box{position: relative;}
.choose_box.active{border: 1px solid #ff8800;}
.choose_box .unexpanded{position: absolute;width: 100%;height: 100%;left: 0;top: 0;cursor: pointer;}
.choose_box.active .unexpanded{display: none;}
.link_box{cursor: pointer;}
.link_box.active{border: 1px solid #ff8800;}
.hasBind_field,.unBind_field{display: none;padding-top: 30px;}
.hasBind_field.active,.unBind_field.active{display: block;}
    /*订单信息*/
.bankOrderInfo{color: #666;font-size: 14px; line-height:28px;}
.bankOrderInfo .pdt-title{color: #333;width:675px;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;}
.bankOrderInfo .order-info{color: #333;}
.bankOrderInfo .fen{color:#fc6969;}
.bankOrderInfo .pay_money{text-align: right;line-height: 1;position: relative;padding-right: 105px;}
.bankOrderInfo .pay_money p{margin-bottom: 10px;}
.bankOrderInfo .pay_money p input{width: 200px;height:38px;line-height: 38px;text-indent: 5px;color: #fc6969;font-size: 20px;border: 1px solid #f0f0f0;margin-right: 4px;display: none;}
.bankOrderInfo .pay_money p input:focus{border: 1px solid #999;}
.bankOrderInfo .pay_money .error_info{color: #ff6464;font-size: 12px;margin-bottom: 10px;display: none;}
.bankOrderInfo .pay_money a{color: #ff8800;font-size: 14px;}
.bankOrderInfo .pay_money a.disable{color: #ddd;}
.bankOrderInfo .pay_money .fc-tips{display: none;position: absolute;top:-36px;right: 98px;padding: 8px;background: #ff8800;color: #FFF;font-size: 12px;border-radius: 4px;white-space: nowrap;text-align: left;}
.bankOrderInfo .pay_money .fc-tips i{position: absolute;bottom: -10px;right:38px;border-color: #ff8800 transparent transparent transparent;border-style: solid;border-width: 5px;width: 0px;height: 0px;}
.bankOrderInfo .pay_money.fc-pay .fc-tips,.bankOrderInfo .pay_money.noerma.fc-pay .fc-tips{left:70px;right:auto;}
.bankOrderInfo .pay_money.fc-pay .fc-tips i{bottom: -10px;left:25px;right:auto;}
.bankOrderInfo .pay_money.noerma{padding-right: 0px;}
.bankOrderInfo .pay_money.noerma .fc-tips{right: 0;}

    /*标题*/
.top_title{padding-bottom: 30px;position: relative;}
.top_title .left{font-size: 18px;color: #333;line-height: 1;}
.tn_wallet_box .top_title .left{margin-top: 5px;}
.top_title .left img{vertical-align: top;}
.top_title .left span{font-weight: bold;}
.top_title .left > a{margin-left: 4px;font-size: 14px;display: none;}
.top_title .left em{font-size: 14px;color: #333;margin-left: 25px;}
.top_title .left em.ml{margin-left: 58px;}
.top_title .left em b{color: #ff8800;}
.top_title .left .shortcut-tips{font-size: 14px;color: #666;font-style: normal;}
.top_title .right{font-size: 14px;color: #666;line-height: 1;}
.top_title .right span {color: #fc6969;font-size: 20px;}
.top_title .right i {position: relative;color: #f20e16;border: 1px solid #f20e16;border-radius: 3px;padding: 0 7px 0 15px;height: 18px;line-height: 18px;margin-right: 15px;font-style: normal;}
.top_title .right i img {position: absolute;left: -18px;top: -6px;}
.top_title .right i b{font-size: 16px;}
.top_title .favorable{position: absolute;width: 116px;height: 67px;padding-right: 2px;background: url(https://ssl.tuniucdn.com/img/2016053002/jinrong/pay/pc/lj_bg.png) no-repeat;right: 0;top: -35px;font-size: 18px;color: #FFF;line-height: 1;text-align: center;}
.top_title .favorable h3{font-size: 18px;line-height: 1;padding: 9px 0 2px;}
.top_title .favorable h3 i{font-size: 18px;font-style: normal;}
.top_title .favorable p {font-size: 18px;}
.top_title .favorable p span{font-size: 28px;font-weight: bold;}
.top_title .favorable.random h3{font-size: 22px;line-height: 1;padding: 10px 0 6px;}
.top_title .favorable.random p{font-size: 14px;color: #fcff00;line-height: 1;}
.top_title .favorable.random p span{color: #FFF;font-size: 14px;}

.choose_box.active .top_title .favorable,.choose_box.noActivity .top_title .favorable{display: none;}
.choose_box.noActivity .top_title .right{display: none !important;}
.choose_box .hasBind_field,.choose_box .hasBind_field.active,.choose_box .unBind_field,.choose_box .unBind_field.active,.choose_box .pay-enter{display: none;}
.choose_box .top_title{padding-bottom: 0;}
.choose_box.active .top_title{display: block;}
.choose_box.active .hasBind_field.active,.choose_box.active .unBind_field.active,.choose_box.active .pay-enter.active{display: block;}
.cont_box.limitH .pay-enter.active{display: none;}
.cont_box.limitH.active .pay-enter.active{display: block;}
.cont_box.limitH .pay-enter{margin-left: 20px;margin-top: -6px;}
.tn_wallet_box .pay-enter.unopen{float: right;margin-left: 20px;}
.choose_box .unBind_field .sfcf-selfcard-tips{position: absolute;font-size: 14px;color: #f80;font-style: normal;top: 56px;left: 40px;}

    /* 支付首页 */
.choose_bank .add_bank{margin: 10px 0 0 10px;color: #6699cc;font-size: 12px;}
.choose_bank{margin-bottom: 20px;position: relative;z-index: 10;}
    /*银行卡选择器*/
.bank_select_box{height:40px;position: relative;*width: 650px;}
.bank_select_box .card_info{height:38px;line-height:38px;border:1px solid #f0f0f0;padding:0px 40px 0 15px;*padding-right: 0;background: #FFF;color: #999;border-radius: 2px;white-space:nowrap;}
.bank_select_box .card_info .ac-tips{display: inline-block;*zoom:1;*display: inline;border: 1px solid #ff8800;border-radius: 3px;height: 16px;line-height: 16px;margin-left: 6px;padding: 0 4px;font-size: 12px;color: #ff8800;}
.bank_select_box:hover .card_info{border-color: #f80;}
.bank_select_box .card_info .bank-logo{vertical-align: -9px;display: inline-block;*display: block;*float:left;*margin-top: 5px;}
.bank_select_box .card_info i{color: #666;font-style: normal;}
.bank_select_box .card_info .kjtips{margin:0px 10px 0px 2px;color:#FFF;font-size:14px;background:#6699cc;height:18px;line-height: 18px;width:34px;text-align:center;display:inline-block;display:-moz-inline-stack;zoom:1;*display:inline;border-radius:3px;}
.bank_select_box .card_info img.hui-icon{vertical-align: middle;margin-left: 12px;}
.bank_select_box .card_info em{display: inline-block;*zoom:1;*display: inline;padding: 0 3px;color: #FFF;height: 18px;line-height: 18px;margin: 0 8px;border-radius: 2px;}
.bank_select_box .card_info em.cx-bg{background: #7198c8;}
.bank_select_box .card_info em.xy-bg{background: #5acabc;}
.bank_select_box .selected_box{cursor: pointer;}
.bank_select_box .bank_select_bar{position: absolute;width: 26px;height: 26px;background: #f0f0f0;right:7px;top:7px;border-radius: 2px;}
.bank_select_box:hover .bank_select_bar{background-color: #f80;}
.bank_select_box .bank_select_bar b{position: absolute;width: 0px;height: 0px;line-height: 0px;border: 5px solid transparent;border-top-color: #CCC;left: 8px;top: 11px;}
.bank_select_box:hover .bank_select_bar b{border-top-color: #FFF;}
.bank_select_box .bank_select_list{display: none;border:1px solid #f0f0f0;border-bottom: none;max-height: 200px;overflow-y: scroll;*position:relative;}
.bank_select_box .bank_select_list li.card_info{border: none;border-bottom:1px solid #f0f0f0;width: auto;}
.bank_select_box .bank_select_list li.card_info:hover{background: #f0f0f0;cursor: pointer;}
.bank_select_box .bank_select_list li.card_info.cur{background: #f0f0f0;}
    /* 选择支付方式 */
.pay-select{width:1000px;}
.pay-select-tab{ height:35px;border-bottom:1px solid #f0f0f0;z-index:1;}
.pay-select-tab li{float:left; margin-bottom:-1px;margin-right:8px;width:142px; height:34px;border:1px solid #f0f0f0;background-color:#f7f7f7;text-align:center;font:16px/35px 'Microsoft YaHei'; color:#666;cursor:pointer;}
.pay-select-tab .on{ background-color:#FFF; color:#333;border-bottom:1px solid #FFF;}
.pay-select-tab li.disable{background: #cccccc;}
.pay-select-con{margin-top:24px;margin-right:-12px; width:1000px;}
    /* 银行列表 */
.pl-wrap{width:1012px;padding-bottom:12px;}
.pl-wrap .pl-item{position: relative;overflow: visible;}
.pl-wrap .pl-item,.pay-other-list li{float:left; background-color:#FFF; padding:5px 0;width:188px;margin-right:12px; margin-bottom:10px; cursor:pointer; border:1px solid #B0C2E1; border-radius:2px;}
.pl-wrap li:hover,.pl-wrap li.on,.pay-other-list li.on{border:2px solid #6699cc;padding: 4px 0;width: 186px;}
.pay-other-list li:hover{border:2px solid #6699cc;height: 36px;width: 186px;}
.pl-item .bank-logo{margin-left:25px;}
.pl-more {float: left;background:#cfe7ff; padding:5px 0; height:28px; line-height:28px; font-size:14px; width:188px; border:1px solid #cfe7ff;text-align:center; color:#6699cc; font-weight:700; cursor:pointer;-webkit-transition:all .2s, color .2s; -moz-transition:all .2s, color .2s; -ms-transition:all .2s, color .2s; transition:all .2s, color .2s ;}
.pl-wrap li.pl-more:hover {background:#aed7ff;border:1px solid #aed7ff;width:188px;padding:5px 0;}

/* 其他支付*/
.pay-other-list li{padding: 0 0;overflow: visible;}
.pay-other-list li a{display:block;width:188px; height:38px;position: relative;}
.pay-other-list li span{display:block; margin-left:25px; width:125px; height:38px; overflow:hidden;}
.pay-other-list li a .hui-tips{position: absolute;top: -7px;left: 12px;}
    /*表单*/
.hasBind_field .credit{display: none;}
.hasBind_field .form_box{font-size: 14px;color: #333;}
.pay-select-con .form_box{position: relative;padding-left: 43px;font-size: 14px;color: #333;}
.form_box ul.line{margin-bottom:20px;}
.form_box ul li{float: left;height: 40px;line-height: 40px;overflow: visible;}
.form_box ul li.label{width:70px;text-align:right;padding-right: 30px;}
.form_box ul li.ts{font-size:12px;color:#ff5a5a;}
.form_box ul li input.widthL{width:227px;}
.form_box ul li input.widthS{width:128px;}
.form_box ul li input.marl0{margin-left: 0 !important;}
.form_box ul li input[type="text"]{border: 1px solid #f0f0f0;height:38px;line-height: 38px;vertical-align: top;margin-right:20px;text-indent:5px;color: #666;z-index: 1;}
.form_box ul li input[type="text"]:focus{border: 1px solid #999;}
.form_box ul li input.cardInput{-webkit-transition: transform 0.5s ease-in-out;-moz-transition: transform 0.5s ease-in-out;-mz-transition: transform 0.5s ease-in-out;-o-transition: transform 0.5s ease-in-out;}
.form_box ul li input.cardInput:hover{transform:scale(1.2);-webkit-transform: scale(1.2);-moz-transform: scale(1.2);-ms-transform: scale(1.2);-o-transform: scale(1.2);}
.form_box ul li input.cardInput.readonly{border: none;color: #333;font-size: 14px;line-height: 40px;}
.form_box ul li input.cardInput.readonly:hover{transform:scale(1);-webkit-transform: scale(1);-moz-transform: scale(1);-ms-transform: scale(1);-o-transform: scale(1);}
.form_box ul li.card_info{height:37px;line-height:37px;border:1px solid #f0f0f0;color: #999;font-size: 12px;padding:0px 15px;margin-right:20px;display:inline-block;display:-moz-inline-stack;zoom:1;*display:inline;}
.form_box ul li.card_info span{margin-right:15px;}
.form_box ul li.sbank a{font-size:12px;}
.form_box ul li.sbank img{vertical-align:-1px;margin-right:7px;}
.form_box ul li input.error{border:1px solid #fc6969;}
.form_box .card_info .bank-logo{vertical-align: -9px;display: inline-block;*display: block;*float:left;*margin-top: 5px;}
.form_box ul li.card_type input[type="radio"]{vertical-align: -2px;margin-right: 5px;}
.form_box ul li.card_type label{margin-right: 30px;}
.form_box ul li.txtLi a{margin-left: 10px;font-size: 12px;}
.form_box ul li.inputLi a{margin-right: 20px;font-size: 12px;}
.form_box .sytx_shoucikaitong{position: absolute;top:50px;right: 0;}
.form_box .btn_box .goToBind{width: 138px;margin-left: 28px;margin-right: 10px;}
.form_box .btn_box .linkToPact{font-size: 14px;text-decoration: underline;margin-top: 6px;}
.form_box .keep-common{padding: 0 0 20px 28px;}
.form_box .keep-common input[type="checkbox"]{vertical-align: -2px;margin-right: 4px;*vertical-align: 0;}

.pay-select-con .form_box,.form_box .shortcut .credit,.pl-wrap .pl-item,.form_box ul li.inputLi,.form_box ul li.ts{display: none;}

/*日期选择器*/
.date_select_box{position: relative;width: 91px;height: 38px;z-index: 9;border: 1px solid #f0f0f0;}
.form_box .date_select_box input[type="text"]{width: 59px;*width: 54px;*height: 36px;margin: 0 0;padding: 0 0;text-align: center;border: none;background: transparent;}
.form_box .date_select_box input[type="text"]:focus{border: none;}
.date_select_box i{position: relative;background: #f0f0f0;width: 26px;height: 26px;margin-top: 7px;margin-top: 6px\0;*margin-top: 4px;cursor: pointer;border-radius: 2px;vertical-align: top;}
.date_select_box i b{position: absolute;width: 0px;height: 0px;line-height: 0px;border: 5px solid transparent; border-top-color: #CCC;left: 8px;top: 11px;}
.date_select_box:hover{border-color: #f80;}
.date_select_box:hover i{background: #f80;}
.date_select_box:hover i b{border-top-color: #FFF;}
.date_select_box dl{background: #FFF;border: 1px solid #ddd;display: none;max-height: 300px;overflow-y: scroll;top:40px\9;left:0\9;position: absolute\9;width: 100%\9;}
.date_select_box dl dd{height: 30px;line-height: 30px;text-align: center;border-bottom: 1px solid #ddd;cursor: pointer;font-size: 12px;color: #b1b1b1;}
.date_select_box dl dd:last-child{border-bottom: none;}
.date_select_box dl dd.cur,.date_select_box dl dd:hover{background: #e0ebf5;}
.form_box ul li span.txt{margin: 0 8px 0 5px;font-size: 14px;}
.date_select_box dl::-webkit-scrollbar,.bank_select_box .bank_select_list::-webkit-scrollbar{width:4px;}
.date_select_box dl::-webkit-scrollbar-track,.bank_select_box .bank_select_list::-webkit-scrollbar-track{background:#F0F0F0;}
.date_select_box dl::-webkit-scrollbar-thumb,.bank_select_box .bank_select_list::-webkit-scrollbar-thumb{background:#ccc;border-radius:4px;}

.user_box .date_select_box{margin-right: 10px;*margin-right: 0;}

/* 支付按钮 */
.pay-enter{overflow:hidden;}
.pay-enter a{float:left;width:138px;}
.pay-enter-tips{float:left;margin-left:10px;font:14px/34px "Microsoft YaHei"; color:#fc6969;}

/*公共按钮 */
.payBtnCom{height: 34px;line-height: 34px;text-align: center;font-size: 14px;color: #FFF;border-radius: 4px;display: block;background: #ccc;}
.payBtnCom.active{background: #fc6969;}
.payBtnCom.active:hover{background: #fd463e;}
.blueBtn{color: #6699cc;}
.blueBtn:hover{color: #2188ef;text-decoration: underline;}

/* 常见问题 */
.pay-problem{padding: 25px 20px 0;width:1160px;overflow:hidden;}
.pay-problem h3{font:400 18px/28px "Microsoft YaHei"; color:#666;}
.pay-problem p{margin-top:24px;font:300 14px/24px "Microsoft YaHei"; color:#666;height: 238px;}
.pay-problem p.height-auto{height: auto;}
.pay-problem p span{font-weight:400;}
/* 弹框 */
.pop_box{display: none;}
.backg{background:#333;position:fixed;left:0;bottom:0;right:0;top:0;opacity:0.5;filter:Alpha(Opacity=50);z-index: 9999;}
.pop_box .pop_win{left:50%;margin-left:-214px;top:50%;border:6px solid #c3c9d2;width:396px;padding:0 16px;position:fixed;background: #FFF;text-align: center;z-index: 10000;}
.pop_win .head{position: relative;height:50px;line-height:50px;font-size:18px;color:#FFF;margin-bottom:33px;border-bottom: 1px solid #f2f2f2;}
.pop_win .head span{color: #ff8800;font-size: 18px;}
.pop_win .head img{position: absolute;top:17px;right:0;cursor:pointer;}
.pop_win .sms_box{line-height: 1;position: relative;}
.pop_win .sms_box h3{font-size: 24px;color: #333;margin-bottom: 9px;}
.pop_win .sms_box h4{font-size: 12px;color: #666;margin-bottom: 30px;}
.pop_win .sms_box input{width: 278px;height: 38px;line-height: 38px;border:1px solid #f0f0f0;text-align: center;font-size:20px;letter-spacing:12px;display: block;margin-bottom: 10px;display:inline-block;display:-moz-inline-stack;zoom:1;*display:inline;}
.pop_win .sms_box h5{font-size: 12px;color: #999;margin-bottom: 29px;}
.pop_win .sms_box h5 em{color: #ff8800;margin-right: 15px;}
.pop_win .sms_box h5 i{font-style: normal;}
.pop_win .sms_box .error{position: absolute;top:146px;left: 0;width: 100%;text-align: center;font-style: normal;color: #ff5a5a;font-size: 12px;display: none;}
.pop_win p{font-size:14px;color:#333;margin-bottom:22px;line-height: 1.5;}
.pop_win .sms_box p{width: 87%;text-align: left;margin: 0 auto 22px;}
.pop_win .sms_box p b{font-weight: normal;color: #ff8800;}
.pop_win .butg{margin-bottom: 38px;}
.pop_win .butg .pop_btn{width:124px;height:32px;line-height:33px;text-align:center;border:1px solid #ff8800;color:#323232;font-size:14px;border-radius:4px;display:inline-block;display:-moz-inline-stack;zoom:1;*display:inline;}
.pop_win .butg .pop_btn.confirm{background: #ff8800;color: #FFF;}
.pop_win .butg .pop_btn.other{background: #FFF;color: #ff8800;}
.pop_win .butg .mar{margin-right:30px;}
.pop_win .sms_btn{width: 100px;height: 34px;line-height: 34px;text-align: center;background: #ff8800;color: #FFF;border-radius: 4px;font-size: 14px;display:inline-block;display:-moz-inline-stack;zoom:1;*display:inline;}
.pop_win .sms_btn.gray{background: #e0e0e0;}
.pop_win .sms_btn.heighter{height: 40px;line-height: 40px;vertical-align: top;border-radius: 0;}
.pop_win .sms_box input.shorter{width: 222px;}
.pop_win .butg .pop_btn.bigger{width: 148px;height: 38px;line-height: 38px;border-radius: 0;}
.pop_win .sms_box h4.remar{margin-bottom: 16px;}
.pop_win .hover:hover{filter:alpha(opacity=80);opacity:0.8;}
/* loading */
.loading_box{display: none;}
.loading_box img{position:fixed;top:50%;left: 50%;margin:-36px 0 0 -36px;z-index: 10000;}

.pay_footer{text-align: center;font-size: 14px;color: #999;padding: 120px 0 20px;}

/*支付成功 支付失败 等待页面*/
.c-pay{background-color: #FFF}
.c-pay-con{padding: 50px 0 68px;line-height: 1;color: #333;text-align: center;}
.c-pay-con img{vertical-align: top;margin-bottom: 20px;}
.c-pay-con h3{font-size: 24px;margin-bottom: 16px;}
.c-pay-con p{font-size: 14px;margin-bottom: 20px;}
.c-pay-con p i{color: #ff6464;font-style: normal;}
.c-pay-con .btn_box a{width: 129px;height: 34px;line-height: 34px;border-radius: 4px;color: #FFF;font-size: 14px;text-align: center;}
.c-pay-con .btn_box a.mr20{margin-right: 20px;}
.c-pay-con .btn_box .other{background: #ff6464;}
.c-pay-con .btn_box .order{background: #ff8800;}
.c-pay-con .btn_box a:hover{filter:alpha(opacity=80);opacity:0.8;}
.c-pay-wait .c-pay-con h3{margin-bottom: 20px;}
.c-pay-fail .c-pay-con p{color:#ff8800;}

/* 扫描微信二维码 */
.c-pay-scanning{padding: 56px 20px 30px;}
.c-pay-scanning .scanning{width: 427px;height: 304px;background: url(https://ssl.tuniucdn.com/img/2016030904/jinrong/licai2/checkout/scanning.png) no-repeat;margin: 0 auto 35px;position: relative;}
.c-pay-scanning .scanning img{width: 178px;height: 178px;border: 1px solid #e8e8e8;position: absolute;top:32px;left: 0;}
.c-pay-scanning a{font-size: 14px;color: #666;}
.c-pay-scanning a:hover{color: #333;text-decoration: underline;}

/*版本限制样式*/
/*.tn_wallet_box .bank_select_bar{display: none;}*/
.tn_wallet_box .pay-select-tab/*,.shortcut_box .pay-select-tab*/{display: none;}
.tn_wallet_box .pay-select-con .pl-wrap.wy-box/*,.shortcut_box .pay-select-con .pl-wrap.wy-box*/{display: none;}
.tn_wallet_box .pay-select-con/*,.shortcut_box .pay-select-con*/{margin-top: 0;}
/*.tn_wallet_box .xy,.tn_wallet_box .xy_label{display: none;}
.tn_wallet_box .cx{visibility: hidden;}*/

/*扫码支付*/
.scan_pay{position: absolute;right: -10px;top: -56px;}
.scan_pay .erma{width: 80px;padding: 10px;margin-bottom: 10px;background: -moz-linear-gradient( top,#ffffff,#f1f1f1);background: -webkit-linear-gradient(top,#ffffff,#f1f1f1);background: -o-linear-gradient(top,#ffffff,#f1f1f1);filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#ffffff, endColorstr=#f1f1f1);}
.scan_pay .erma img{width: 100%;vertical-align: top;}
.scan_pay p{text-align: center;font-size: 12px;color: #333;line-height: 1;}
.scan_pay i{position: absolute;border-bottom: 35px solid #d4d4d4;border-right: 10px solid transparent;width: 0px;height: 0px;right: -10px;top: 0;}
.scanning-to-phone{padding: 96px 0 126px;text-align: center;background: #FFF;}
.scanning-to-phone .erma-box{width: 179px;height: 225px;background: url(https://ssl.tuniucdn.com/img/20150629/jinrong/pay/pc/erma_bg.png) no-repeat center;margin-bottom: 43px;padding-left:5px;}
.scanning-to-phone .erma-box img{margin-top: 108px;width: 100px;}
.scanning-to-phone p{font-size: 14px;color: #333;line-height: 1;}

/*银行卡分期*/
.card_installment .pay-select{display: none;}
.card_installment.active .pay-select{display: block;padding-top: 30px;}
.card_installment .fq-list{border-top: 1px solid #f0f0f0;width: 820px;margin-bottom: 0;*margin-bottom: 8px;}
.card_installment .fq-list li.fq-item{display: block;}
.card_installment .fq-list li.fq-item em{height: 30px;line-height: 30px;}
.card_installment .fq-list li.fq-item p{height: 30px;line-height: 30px;width: 114px;*width: 134px;}
.card_installment .fq-select-info{margin-bottom: 30px;color: #999;}
.card_installment .fq-select-info span{color: #333;}
.card_installment .fq-select-info span i,.card_installment .fq-select-info span em{font-style: normal;}
.card_installment .hasBind_field,.card_installment .unBind_field{padding-top: 0;}
.card_installment .hasBind_field .form_box{display: block;padding-left: 0;margin-bottom: 30px;}
.card_installment .hasBind_field .pl-wrap{display: none;}
.card_installment .hasBind_field.no-select .fq-list,.card_installment .hasBind_field.no-select .fq-select-info,.choose_box .hasBind_field.no-select .form_box,.card_installment .hasBind_field.no-select .pay-enter,.card_and_wallet.no-select .pay-enter{display: none !important;}
.card_installment .hasBind_field.unBind .choose_bank,.card_installment .hasBind_field.unBind .form_box,.card_installment .hasBind_field.unBind .pay-enter .ljPay,.card_installment .hasBind_field .pay-enter .next{display: none;}
.card_installment .hasBind_field.unBind .pl-wrap,.card_installment .hasBind_field.unBind .pay-enter .next{display: block;}
.card_installment .unBind_field.active .form_box{display: block;}
.card_installment .unBind_field .form_box .fq-info span{color: #999;}
.card_installment .unBind_field .form_box .fq-info span i{font-style: normal;font-weight: bold;color: #333;}
.card_installment .choose_bank{margin-bottom: 28px;}
/*银行卡不可用*/
.choose_box .bank_select_box .card_info,.choose_box .pl-wrap .pl-item{position: relative;}
.choose_box .tips .bg{position: absolute;width: 100%;height: 100%;left: 0;top: 0;background: #000;opacity: 0.5;filter:alpha(opacity=50);}
.choose_box .tips p{position: absolute;left: 0;bottom: 0;height: 14px;line-height: 14px;width: 100%;text-align: center;background: #6699cc;color: #FFF;font-size: 12px;}
.choose_box .tips{display: none;}
.choose_box .bank_select_box .card_info.disable .tips,.choose_box .pl-wrap .pl-item.disable .tips{display: block;}
.choose_box .pl-wrap .pl-item.disable:hover{padding: 5px 0;width: 188px;border: 1px solid #B0C2E1;}
    /*第三方分期*/
.thirdparty-installment-field .unBind_field .form_box ul li .txt.small-tips{font-size: 12px;color: #999;margin-left: 8px;}
.thirdparty-installment-field .unBind_field .form_box .btn_box span{font-size: 12px;line-height: 34px;}
.thirdparty-installment-field .hasBind_field .pay-enter .card-tips{float:left;font-size: 12px;margin-left: 10px;line-height: 1.4;}
.thirdparty-installment-field .hasBind_field .pay-enter .card-tips i{color: #6699cc;font-style: normal;cursor: pointer;}
.pop_box .pop_win.big{width: 608px;margin-left: -326px;}
.pop_box .pop_win.big ul.pl-wrap{width: 100%;margin-left:7px;padding-bottom: 20px;}
.pop_box .pop_win.big ul.pl-wrap li{display: block;}
.pop_box .pop_win.big ul.pl-wrap li:hover{border: 1px solid #B0C2E1;padding: 5px 0;width: 188px;}
.pop_box .pop_win.big .butg{margin-bottom: 30px;}

.hui-shake {
    -webkit-animation: shake 1s ease;
    -moz-animation: shake 1s ease;
    -ms-animation: shake 1s ease;
    -o-animation: shake 1s ease;
    animation: shake 1s ease
}
@-webkit-keyframes
shake {
    0%,100% {
        -webkit-transform: translateX(0)
    }

    10%,30%,50%,70%,90% {
        -webkit-transform: translateX(-10px)
    }

    20%,40%,60%,80% {
        -webkit-transform: translateX(10px)
    }
}

@-moz-keyframes
shake {
    0%,100% {
        -moz-transform: translateX(0)
    }

    10%,30%,50%,70%,90% {
        -moz-transform: translateX(-10px)
    }

    20%,40%,60%,80% {
        -moz-transform: translateX(10px)
    }
}

@-ms-keyframes
shake {
    0%,100% {
        -ms-transform: translateX(0)
    }

    10%,30%,50%,70%,90% {
        -ms-transform: translateX(-10px)
    }

    20%,40%,60%,80% {
        -ms-transform: translateX(10px)
    }
}

@-o-keyframes
shake {
    0%,100% {
        -o-transform: translateX(0)
    }

    10%,30%,50%,70%,90% {
        -o-transform: translateX(-10px)
    }

    20%,40%,60%,80% {
        -o-transform: translateX(10px)
    }
}

@keyframes
shake {
    0%,100% {
        transform: translateX(0)
    }

    10%,30%,50%,70%,90% {
        transform: translateX(-10px)
    }

    20%,40%,60%,80% {
        transform: translateX(10px)
    }
}

    /*银行logo*/
.bank-logo { background-image:url(https://ssl.tuniucdn.com/img/20150726/jinrong/pay/pc/bank-logo.png); display:block; width:125px; height:28px; overflow:hidden; text-indent:-9999px }
.bank-bjrcb { background-position:0 0 }
.bank-bccb { background-position:0 -28px }
.bank-cbhb { background-position:0 -56px }
.bank-bocd { background-position:0 -84px }
.bank-fudian { background-position:0 -112px }
.bank-icbc { background-position:0 -140px }
.bank-ceb { background-position:0 -168px }
.bank-gdb{ background-position:0 -196px }
.bank-hkbchina { background-position:0 -224px }
.bank-hccb { background-position:0 -252px }
.bank-hengfeng { background-position:0 -280px }
.bank-hxb { background-position:0 -308px }
.bank-ccb { background-position:0 -336px }
.bank-jsb { background-position:0 -364px }
.bank-comm{ background-position:0 -392px }
.bank-jinghua { background-position:0 -420px }
.bank-cmbc { background-position:0 -448px }
.bank-njcb { background-position:0 -476px }
.bank-nbcb { background-position:0 -504px }
.bank-abc { background-position:0 -532px }
.bank-szpab { background-position:0 -560px }
.bank-spdb { background-position:0 -588px }
.bank-qdccb { background-position:0 -616px }
.bank-shrcb { background-position:0 -644px }
.bank-bos{ background-position:0 -672px }
.bank-sdb { background-position:0 -700px }
.bank-wzcb { background-position:0 -728px }
.bank-cib { background-position:0 -756px }
.bank-cmb { background-position:0 -784px }
.bank-zjtl { background-position:0 -812px }
.bank-boc { background-position:0 -840px }
.bank-psbc{ background-position:0 -868px }
.bank-citic { background-position:0 -896px }
.bank-cqrcb { background-position:0 -924px }
.bank-cqcb { background-position:0 -952px }
.bank-gzrcc { background-position:0 -980px }
.bank-gzcb { background-position:0 -1008px }
.bank-hsbank { background-position:0 -1036px }
.bank-czb { background-position:0 -1064px }
.bank-bonc { background-position:0 -1092px }
.bank-gdnyb { background-position:0 -1120px }
.bank-chab { background-position:0 -1148px }
.bank-dylscz { background-position:0 -1177px }
.bank-dzb { background-position:0 -1205px }
.bank-lwb { background-position:0 -1233px }
.bank-qsb { background-position:0 -1260px }
.bank-rzb { background-position:0 -1289px }
.bank-tab { background-position:0 -1317px }
.bank-lsb { background-position:0 -1345px }
.bank-wfccb { background-position:0 -1373px }
.bank-ordos { background-position:0 -1401px }
.bank-boxm { background-position:0 -1430px }
.bank-bolj { background-position:0 -1456px }
.bank-jzcb { background-position:0 -1484px }
.bank-jjccb { background-position:0 -1512px }
.bank-cjccb { background-position:0 -1568px }
.bank-boly { background-position:0 -1596px }
.bank-hubnx { background-position:0 -1623px }
.bank-bhrcb { background-position:0 -1708px }
.bank-hbnx { background-position:0 -1794px }
.bank-gsnx { background-position:0 -1652px }
.bank-bsb { background-position:0 -1820px }
.bank-shxnx { background-position:0 -1764px }
.bank-jsnx { background-position:0 -1681px }
.bank-whrcb { background-position:0 -1736px }
.bank-paypal { background-position:0 -1985px }
/*支付平台logo*/
.UnionPay-log,.wx-log,.alipay-log,.tenpay-log,.BestPay-log,.EasyPay-log{background: url(https://ssl.tuniucdn.com/img/20150726/jinrong/pay/pc/bank-logo.png) no-repeat center;}
.tenpay-log{ background-position:22px -1951px;}
.alipay-log{ background-position:22px -1848px;}
.wx-log{background-position:0px -1882px}
.UnionPay-log{background-position:0px -1917px;}
.BestPay-log{background-position:25px -2018px;}
.EasyPay-log{background-position: 19px -2053px;}

/*支付促销2列广告*/
.pay-promotion-2{
    margin: 10px auto 0 auto;
    padding: 10px 15px;
    width: 1170px;
    background-color: #f8f8f8;
    overflow: hidden;
}
.pay-promotion-2 a{
    display: block;
    float: left;
    width:580px;
}
.pay-promotion-2 img{
    display: block;
    width: 100%;
}
.pay-promotion-2 .mr-10{
    margin-left: 10px;
}

.pay-promotion-1{
    margin: 10px auto 0 auto;
    width: 1200px;
}
.pay-promotion-1 a{
    display: block;
}
.pay-promotion-1 img{
    display: block;
    width: 100%;
}
.pay-promotion-3{
    margin: 10px auto 0 auto;
    padding: 10px 0;
    width: 1200px;
    background-color: #f8f8f8;
    overflow: hidden;
}
.pay-promotion-3 a{
    display: block;
    float: left;
    width:380px;
}
.pay-promotion-3 img{
    display: block;
    width: 100%;
}
.pay-promotion-3 .mr-10{
    margin-left: 10px;
}
.pay-promotion-3 .mr-20{
    margin-left: 20px;
}
.pay-promotion-3 .more-act{
    margin-top: 10px;
    padding-top: 10px;
    padding-right: 20px;
    width: 1180px;
    border-top:1px solid #f0f0f0 ;
    text-align: right;
    font-size: 14px;
    color: #999;
}

/*首付出发费率*/
.shoufuchufa{
    padding: 20px;
    background: #FFF;
    margin-bottom: 10px;
    cursor: pointer;
}
.shoufuchufa.active{border: 1px solid #ff8800;}
.shoufuchufa label {
    width: 14px;
    height: 14px;
    border: 2px solid #bbb;
    border-radius: 2px;
    vertical-align: -4px;
    margin-right: 17px;
    cursor: pointer;
}
.shoufuchufa label.active {
    width: 20px;
    height: 18px;
    background: url(http://ssl.tuniucdn.com/img/20150420/jinrong/licai2/checkout/checked.png) no-repeat;
    border: none;
    margin-right: 15px;
}
.shoufuchufa label.disable {
    background: #ddd;
}
.fq-list {
    padding-top: 20px;
    margin-bottom: 8px;
}
.fq-list li.fq-item {
    float: left;
    background: #f0f0f0;
    border-radius: 4px;
    font-size: 12px;
    color: #666;
    text-align: center;
    margin: 0 8px 8px 0;
    cursor: pointer;
    display: none;
}
.fq-list li.fq-item em {
    float: left;
    height: 40px;
    line-height: 40px;
    width: 61px;
    font-weight: bold;
}
.fq-list li.fq-item p {
    float: left;
    height: 40px;
    line-height: 40px;
    width: 219px;
    border-left: 1px solid #FFF;
    overflow: hidden;
}
.fq-list li.fq-item p b{
    font-weight: normal;
}
.fq-list li.fq-item.on {
    background: #ff8800;
    color: #FFF;
}
.fq-list li.fq-item.hui p {
    line-height: 1.3;
    height: 34px;
    padding-top: 6px;
}
.fq-list li.more {
    color: #6699cc;
    padding-left: 8px;
    height: 40px;
    line-height: 40px;
    cursor: pointer;
    float: left;
}
.shoufuchufa .fq-select-info {
    font-size: 12px;
    color: #666;
}
.shoufuchufa .sfcf_tips{
    background: url(https://ssl.tuniucdn.com/img/20160325/jinrong/pay/ancientPay/sfcf_tips.png) no-repeat center;
    width: 16px;
    height: 16px;
    position: relative;
    display: inline-block;
    zoom:1;
    *display: inline;
    vertical-align: middle;
}
.shoufuchufa .sfcf_tips {
    background: url(https://ssl.tuniucdn.com/img/20160325/jinrong/pay/ancientPay/sfcf_tips.png) no-repeat center;
    width: 16px;
    height: 16px;
    position: relative;
    display: inline-block;
    zoom: 1;
    *display: inline;
    vertical-align: middle;
}
.shoufuchufa .tips {
    position: absolute;
    display: none;
    border: 1px solid #d5d5d5;
    border-radius: 4px;
    padding: 5px 10px;
    top: 22px;
    left: -9px;
    font-size: 12px;
    background: #fbfffc;
    color: #999;
    width: 654px;
}
.shoufuchufa .tips b {
    color: #666;
}
.shoufuchufa .tips .z {
    color: #fbfffc;
    font-size: 19px;
    top: -13px;
    z-index: 3;
}
.shoufuchufa .tips .y {
    color: #d5d5d5;
    font-size: 19px;
    top: -15px;
    z-index: 1;
}
.shoufuchufa .tips .y,
.shoufuchufa .tips .z {
    position: absolute;
}
.shoufuchufa .sfcf_logo{margin-right:8px;vertical-align: -8px;}
.shoufuchufa span.info{font-size: 14px;color: #333;vertical-align: middle;padding: 0 8px;}
.shoufuchufa span.info .blueBtn{font-style: italic;}
.shoufuchufa span.info b{color: #ff8800;}
.shoufuchufa span.info a{height: 24px;line-height: 24px;padding: 0 8px;border-radius: 2px;margin: 0 6px;background: #ff8800;text-align: center;color: #FFF;}
.shoufuchufa span.info em{width: 20px;height:20px;line-height: 20px;text-align: center;border: 2px solid #ff8800;color: #ff8800;font-weight: 400;margin-left: 5px;border-radius: 3px;}
.shoufuchufa .pay-enter{display: none;padding-top: 20px;}
.shoufuchufa .pay-enter.active{display: block;}
.order_field{margin-bottom:10px;}
.order_field .pay-tips {
    font-size: 14px;
    color: #999;
    height: 30px;
    line-height: 30px;
    padding: 0 20px;
    border-top: 1px solid #e6e6e6;
    background-color: #f7f7f7;
    text-align: center;
}
.order_field .pay-tips .timeout{color: #fc6969;}

.tn_wallet_box{position: relative;}
.tn_wallet_box .top-tips{position: absolute;left: 0;top: 0;background: #f9f9f9;width: 100%;line-height: 23px;}
.tn_wallet_box .top-tips .big-pay{color: #999;font-size: 12px;}
.tn_wallet_box .top-tips .big-pay span{background: #ff8800;height: 23px;padding: 0 7px;color: #FFF;margin-right: 4px;font-size: 14px;}
.tn_wallet_box .top-tips .big-pay i{color: #ff0800;font-style: normal;}
.tn_wallet_box .top-tips .pay-lj{background: #0a85c6;font-size: 20px;color: #FFF;padding: 0 9px 0 89px;position: relative;height: 23px;}
.tn_wallet_box .top-tips .pay-lj img{position: absolute;top: -4px;left: 0;}
.tn_wallet_box .choose_pay .top_title{padding-top: 20px;}

.pay-other-list .tips {
    position: absolute;
    display: none;
    border: 1px solid #b0c2e1;
    border-radius: 4px;
    padding: 5px 10px;
    top: -64px;
    left: 0;
    font-size: 14px;
    color: #333;
    width: 370px;
    z-index: 10;
    background: #fff;
}
.pay-other-list .tips b {
    color: #fc6969;
}
.pay-other-list .tips small {
    font-size: 12px;
}
.pay-other-list .tips .z {
    color: #fff;
    font-size: 19px;
    bottom: -13px;
    z-index: 3;
}
.pay-other-list .tips .y {
    color: #b0c2e1;
    font-size: 19px;
    bottom: -15px;
    z-index: 1;
}
.pay-other-list .tips .y,
.pay-other-list .tips .z {
    position: absolute;
    font-style: normal;
}
.pay-other-list a:hover .tips{display: block;}

/*首付出发抽奖提示*/
.lottery-tips{display: inline-block;*zoom:1;*display: inline;height: 22px;line-height: 22px;font-size: 12px;font-weight: bold;vertical-align: middle;color: #fc6969;padding-right: 6px;border: 1px solid #fc6969;border-radius: 4px;}
.lottery-tips span{float: left;height: 22px;background: #fc6969;padding: 0 6px;margin-right: 6px;color: #FFF;}

/*银行卡支付流程改造*/
.card_pay_box .input-card-bind{font-size: 14px;color: #333;margin-bottom: 20px;}
.input-card-bind ul li{float: left;height: 38px;line-height: 38px;overflow: visible;margin-right: 20px;}
.input-card-bind ul li.ts{font-size:12px;color:#ff5a5a;}
.input-card-bind ul li input.widthL{width:227px;}
.input-card-bind ul li input{border: 1px solid #999;height:36px;line-height: 36px;vertical-align: top;text-indent:5px;color: #666;z-index: 1;box-shadow: 0 0 5px #f0f0f0;}
.input-card-bind ul li input.cardInput{-webkit-transition: transform 0.5s ease-in-out;-moz-transition: transform 0.5s ease-in-out;-mz-transition: transform 0.5s ease-in-out;-o-transition: transform 0.5s ease-in-out;}
.input-card-bind ul li input.cardInput:hover{transform:scale(1.15);-webkit-transform: scale(1.15);-moz-transform: scale(1.15);-ms-transform: scale(1.15);-o-transform: scale(1.15);}
.input-card-bind ul li a{width: 80px;height: 34px;line-height: 34px;background: #cccccc;border-radius: 4px;display: block;color: #FFF;text-align: center;margin-top: 2px;}
.input-card-bind ul li a.active{background: #fc6969;}
.input-card-bind ul li a.active:hover{background: #fd463e;}
.input-card-bind ul li input.error{border:1px solid #fc6969;}
.input-card-bind .card_info{display: none;height: 38px;line-height: 38px;border: 1px solid #f0f0f0;padding: 0px 10px;background: #FFF;color: #999;border-radius: 2px;margin-left: 76px;*left:80px;position: relative;float: left;box-shadow: 0 0 5px #f0f0f0;margin-top:15px;}
.input-card-bind .card_info .bank-logo {vertical-align: -9px;display: inline-block;*zoom:1;*display:inline;*vertical-align: middle;}
.input-card-bind .card_info em.xy-bg {background: #5acabc;}
.input-card-bind .card_info em {display: inline-block;padding: 0 3px;color: #FFF;height: 18px;line-height: 18px;margin: 0 8px;border-radius: 2px;}
.input-card-bind .card_info em.cx-bg {background: #7198c8;}
.input-card-bind .y, .input-card-bind .z {position: absolute;line-height: 1;}
.input-card-bind .z {color: #FFF;font-size: 19px;top: -9px;z-index: 3;}
.input-card-bind .y {color: #f0f0f0;font-size: 19px;top: -11px;z-index: 1;}

/*活动可配*/
.activity-tips{display: inline-block;*zoom:1;*display: inline;height: 22px;line-height: 22px;text-align: center;font-size: 12px;vertical-align: middle;}
.activity-tips.mgl{margin-left: 8px;}
.activity-tips.mgr{margin-right: 8px;}
.activity-tips p{position: relative;height: 100%;background: #fc6969;border-radius: 4px;color: #FFF;padding: 0 6px;}
.activity-tips p i{position: absolute;left: -4px;top: 6px;width:0;height:0;border-width:4px 4px 4px 0;border-style:solid;border-color:transparent #fc6969 transparent transparent;}
.activity-tips img{max-height: 22px;}
.up_tips{padding: 0 10px; position: absolute;height: 20px;line-height: 20px;font-size: 12px;color: #fff;text-align: center;background-color: #ff8800;top: -16px;left: 10px;}
.up_tips i{position: absolute;border-color: transparent #ba6300 transparent transparent;border-style: solid;border-width: 0 5px 5px 0;width: 0px;height: 0px;bottom: -5px;left: 0;}
.up_tips b{position: absolute;border-color: transparent #FFF transparent transparent;border-style: solid;border-width: 10px 5px 10px 5px;width: 0px;height: 0px;right: 0;top:0;}
.up_tips img{max-height: 20px;}
.up_tips.nobg{background: transparent;padding: 0 0;}


